# Created by .ignore support plugin (hsz.mobi)
build/
vendor/
src/server/web/ui/react/node_modules
src/server/web/ui/.cache-loader
src/server/web/ui/react/yarn.lock
/src/server/web/content
/src/server/web/content.go
/src/server/web/ui/react/dist/
